.advanced-style {
	padding-top: var(--all-padding-top);
	padding-right: var(--all-padding-right);
	padding-bottom: var(--all-padding-bottom);
	padding-left: var(--all-padding-left);
	background: var(--container-bg-color);
}
