@use "separator";

:root {
	--Visual-800: #444d54;
	--Visual-primary: #007cba;
	--icon-list-gap: 1.5rem;
}

//This style is to solve popover blur issue

.editor-styles-wrapper {
	//line break
	.components-modal__content,
	.components-popover__content {
		transform: translateZ(0);
		backface-visibility: hidden;
	}
}

.wp-block-create-block-icon-list {
	//line break
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		width: 900px;
		flex-direction: column;
		align-items: flex-start;
		gap: 6px;
		color: #2f2f2f;
		border: 1px solid rgb(187, 31, 31);
		padding-top: var(--all-padding-top);
		padding-right: var(--all-padding-top);
		padding-bottom: var(--all-padding-top);
		padding-left: var(--all-padding-top);

		// .wp-block-your-namespace-icon-list-item {
		// 	font-family: var(--font-family);
		// 	font-size: var(--font-size);
		// 	font-weight: var(--font-weight);
		// 	line-height: var(--font-height);
		// 	letter-spacing: var(--letter-spacing);
		// 	word-spacing: var(--word-spacing);
		// 	text-transform: var(--text-transform);
		// 	text-decoration: var(--text-decoration);
		// 	padding: var(--padding);
		// }
	}

	/* gap control */
	@for $i from 10 through 50 {
		&.is-items-space-between-#{$i}
			> .block-editor-inner-blocks
			> .block-editor-block-list__layout {
			gap: #{$i}px;
		}
	}

	/* horizontal orientation */
	&.is-list-orientation-horizontal
		> .block-editor-inner-blocks
		> .block-editor-block-list__layout {
		flex-direction: row;
		align-items: stretch;
	}
}

// Sidebar List Preset style css

// List Orientation sidebar Toggle Styles

//for showing and hiding the how icons toggle in the sidebar

.my-custom-troggle {
	// Target the internal flex container (HStack)
	.components-flex.components-h-stack {
		flex-direction: row-reverse !important;
		justify-content: space-between !important; // Pushes toggle to the right, label to the left
		width: 100%;
	}
}

.padding-wrapper {
	//line break
	.components-input-control {
		display: none;
	}
}
