@use "separator";

:root {
	--Visual-800: #444d54;
	--Visual-primary: #007cba;
	--icon-list-gap: 1.5rem;
}

//This style is to solve popover blur issue

.editor-styles-wrapper {
	//line break
	.components-modal__content,
	.components-popover__content {
		transform: translateZ(0);
		backface-visibility: hidden;
	}
}

.wp-block-create-block-icon-list {
	//line break
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		width: 900px;
		flex-direction: column;
		align-items: flex-start;
		gap: 6px;
		color: #2f2f2f;
		padding-top: var(--all-padding-top);
		padding-right: var(--all-padding-top);
		padding-bottom: var(--all-padding-top);
		padding-left: var(--all-padding-top);
		background: var(--container-bg-color);
	}

	/* gap control */
	@for $i from 10 through 50 {
		&.is-items-space-between-#{$i}
			> .block-editor-inner-blocks
			> .block-editor-block-list__layout {
			gap: #{$i}px;
		}
	}

	/* horizontal orientation */
	&.is-list-orientation-horizontal
		> .block-editor-inner-blocks
		> .block-editor-block-list__layout {
		display: flex; // Ensure display flex is active
		flex-direction: row;
		flex-wrap: wrap; // This is the "magic" line
		align-items: stretch;
	}
}

// Sidebar List Preset style css

// List Orientation sidebar Toggle Styles

//for showing and hiding the how icons toggle in the sidebar

.my-custom-troggle {
	// Target the internal flex container (HStack)
	.components-flex.components-h-stack {
		flex-direction: row-reverse !important;
		justify-content: space-between !important; // Pushes toggle to the right, label to the left
		width: 100%;
	}
}

.padding-wrapper {
	//line break
	.components-input-control {
		display: none;
	}
}
