.wp-block-create-block-icon-picker {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	background: transparent !important; // Safety reset

	img {
		object-fit: cover;
		width: var(--icon-size, 40px);
		height: var(--icon-size, 40px);
	}

	svg {
		max-width: 100%;
		width: var(--icon-size, 40px);
		height: var(--icon-size, 40px);

		/* This is the key part */
		stroke: var(--icon-color, currentColor) !important;
		fill: none; // Most outline icons need this to stay transparent

		&:hover {
			color: var(--hover-icon-color);
		}
	}
}
