.custom-orientation {
	display: flex;
	border: 1px solid #949494;
	border-radius: 2px;
	overflow: hidden;

	.custom-orientation-option {
		flex: 1;
		height: 32px;
		background: #fff;
		border: none;
		cursor: pointer;
		font-size: 13px;
		color: #1e1e1e;
		transition: background 0.1s ease;

		// Divider logic
		&:not(:last-child) {
			border-right: 1px solid #949494;
		}

		// Active State using the class
		&.is-active {
			color: #4649ff;
			background: #f0f0ff; // Added a light blue background for better UI
			font-weight: 500;
			border: 1px solid #a8aaff;
		}

		&:hover:not(.is-active) {
			background-color: #f0f0f0;
		}
	}
}
