.list-preset {
	margin-top: 10px;

	.list-preset-option {
		height: 70px;
		border: 1px solid #e0e0e0;
		background: #fff;
		border-radius: 4px;
		transition: all 0.2s ease-in-out;
		padding: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		flex: 1;
	}

	.alignment-set {
		height: 32px !important;
	}

	/* Selected state */
	.list-preset-option.is-active {
		color: #4649ff;
		background: #f0f0ff; // Added a light blue background for better UI
		font-weight: 500;
		border: 1px solid #a8aaff;
	}

	/* Hover (only when not active) */
	.list-preset-option:not(.is-active):hover {
		border-color: #b0b0b0;
		background-color: #f9f9f9;
	}

	/* Make them equal width */
	.components-toggle-group-control__group {
		display: flex;
		gap: 8px;
	}
}
