.range-row {
	//line break
	.range-title-bar {
		display: flex;
		justify-content: space-between; // Pushes 'Padding' left and buttons right
		align-items: center;
		width: 100%;
		margin-bottom: 8px;

		.components-unit-control-wrapper .components-unit-control__select {
			font-size: 13px !important;
			padding-right: 10px !important;
		}

		p {
			margin: 0;
			font-weight: 500;
		}

		// This is the container for the 3 buttons/controls on the right
		> div {
			display: flex;
			align-items: center;
			gap: 8px; // Space between the three items
		}

		// Targeting the UnitControl to be small (20px-30px range)
		.components-unit-control-wrapper {
			width: 35px !important; // 20px is too small for a number + unit; 60px is the functional minimum
			min-height: 30px !important;
			margin-bottom: 0 !important;

			.components-base-control__field {
				.components-flex.components-input-base {
					height: 35px !important;
				}
			}

			.components-input-control__container {
				margin-top: 5px;
			}

			.components-input-control__input {
				display: none;
			}

			.components-unit-control__select {
				font-size: 14px !important;
				padding-right: 10px !important;
				padding-left: 3px;
				width: 100% !important;
				text-transform: none;
			}
		}

		.components-button {
			padding: 2px !important;
			height: 24px !important;
			width: 24px !important;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	// Target the RangeControl component inside the row
	.components-base-control.components-range-control {
		margin-bottom: 0; // Essential for vertical centering

		// Target the wrapper that holds the marks and the rail
		.components-range-control__wrapper {
			margin-bottom: 0;

			// This targets those vertical "cut lines" specifically
		}
	}
}
