.wp-block-create-block-icon-list-item {
	background-color: #fff;
	color: rgb(0, 0, 0);
	display: flex;
	gap: 10px;
	border: 2px solid rgb(145, 25, 25);

	h3 {
		font-family: var(--font-family) !important;
		font-size: var(--font-size) !important;
		font-weight: var(--font-weight) !important; // e.g., 600
		line-height: var(--font-height) !important;
		letter-spacing: var(--letter-spacing) !important;
		word-spacing: var(--word-spacing) !important;

		// Use the specific variables we set up for toggles
		font-style: var(--font-style-italic, normal) !important; // italic
		text-decoration: var(--text-decoration, none) !important; // underline
		text-transform: var(--text-transform, none) !important; // none
	}
}
